/*
 * === Footer style ===
 */

/* Footer style */
footer {
  align-items: center;
  background-color: white;
  border-top: 1px solid #CCCCCC;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
}
